@import url('clash-display.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .border-bottom{
    @apply  border-b-[1px] border-white
  }

  .title{
    @apply text-[32px] max-sm:text-[20px] clash-display-bold mb-4
  }

  .Container-style{
    @apply px-[128px] max-slg:px-[30px] flex lg:gap-[106px] max-lg:flex-col max-lg:items-center border-bottom
  }

  .text-container{
    @apply basis-1/2 lg:mt-[193px] max-lg:mb-[71px] max-lg:text-center
  }
}


.numbercircle{
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
}

.timeline:nth-child(even) .timelinedate, .timeline:nth-child(odd) .timelinetext{
text-align: right;
}



:root {
background-color: #150E28;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

@media not all and (min-width: 738px) {
  .criteriabg{
    background-position: bottom center;
    background-repeat: no-repeat;
  }

  .timeline:nth-child(even) .timelinedate, .timeline:nth-child(odd) .timelinetext{
    text-align: left;
    }
}


/* header and guideline background position */
.header {
  background-position: -10px -40px;
}

.guidelinebg{
  background-position: -20px 30%;
  background-repeat: no-repeat;
}

.faqbg{
  background-position: 0px 180%;
  background-repeat: no-repeat;
}




/* font family for h1 element */
.clash-display-bold{
  font-family: 'ClashDisplay-Bold';
}



/* button's background  */
.bg-button{
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);

}

